*{
    box-sizing: border-box;
    margin: 0;
}

.trabajos{
    overflow: hidden;
    a{
        padding: 10px;
        width: 14.2%;
        float: left;
        text-align: center;
        color: orange;
        background-color: blue;
        border: 5px outset orange;
        border-radius: 10px;
        text-decoration: none;
        transition: all 0.5s ease-out;
        &:hover{
            border: 5px outset darkorchid;
            color: blue;
            background-color: orange;
            transform: scale(1.1);
        }
        &:active{
            background-image: linear-gradient(cyan, magenta, yellow);
            color: chartreuse;
        }
    }
}